% Text Classification with Kim-CNN
% For this example, 2 layers include 1 convolutional layers and 1 fully-connected layer.

L = 2;
LC = 1;
LF = 1;
wd_input = [100] % b_in: max_seq_length
ht_input = [1]; % a_in: 1
ch_input = [100,128]; % d_in: embed_dim, num_filter_per_size

wd_pad_added = [0]; % padding is already done in LibMultiLabel
wd_filter = [2]; % filter_sizes
strides = [1];
wd_subimage_pool = [99]; % max pooling across b_out tokens
full_neurons = [53];  % label size

training_mat = 'data/ledgar_toy.mat';
test_mat = 'data/ledgar_toy.t.mat';
init_weight_mat = 'data/ledgar_init_toy.mat';
