% Text Classification with Kim-CNN
% For this example, 2 layers include 1 convolutional layers and 1 fully-connected layer.

L = 2;
LC = 1;
LF = 1;
wd_input = [500]; % max_seq_length embed_dim d_in
ht_input = [1]; % 1 (can be reduced)
ch_input = [300,128]; % number of channels

wd_pad_added = [0]; % padding is already done in LibMultiLabel
wd_filter = [2]; % original: 2,4,8 concat
strides = [1];
wd_subimage_pool = [499]; % max pooling across b_out tokens, (?)
full_neurons = [100];  % label size
